<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./parts/head') %>
  </head>
  <body>
    <div>yoyoyo</div>
    <div><%= message %></div>
    <button id="getAccess">
      <img
        src="/static/img/btn_google_signin_light_normal_web@2x.png"
        alt="logo"
      />
    </button>
  </body>
  <script>
    const getAccess = document.querySelector('#getAccess');
    getAccess.addEventListener('click', async () => {
      axios.get('http://localhost:3000/auth/accessToken').then((res) => {
        console.log(res.data);
      });
    });
  </script>
</html>
