<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../parts/head') %>
  </head>
  <body>
    <div class="full-wrapper">
      <%-include('../parts/header') %>
      <div class="container">
        <div class="d-flex flex-column align-items-center">
          <div class="intro_img"></div>
          <button
            type="button"
            class="btn image-button mt-3"
            onclick="googleLoginBtn()"
          ></button>
        </div>
      </div>
    </div>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
      function googleLoginBtn() {
        location.href = '/api/auth/google';
      }
    </script>
  </body>
</html>
