<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../parts/head') %>
  </head>
  <body>
    <header>
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="d-flex justify-content-center">
        <button
          type="button"
          class="btn image-button"
          onclick="googleLoginBtn()"
        ></button>
      </div>
    </div>
    <script>
      function googleLoginBtn() {
        location.href = '/auth/google';
      }
    </script>
  </body>
</html>
